<!-- Footer -->
<footer class="footer">
  <div class="footer-container">

    <!-- 상단: 로고와 설명 -->
    <div class="footer-top-wrap">
      <div class="footer-top">

        <div class="footer-logo-wrap">
          <img src="./img/assets/kocca-logo-white.png" alt="한국콘텐츠진흥원 로고" class="footer-logo" />

          <p class="footer-description">
            &lt;방송영상·OTT 트렌드&gt;에 실린 글과 사진은 한국콘텐츠진흥원의 허가 없이 사용할 수 없으며,
            <br class="footer-hidden" />
            본지의 내용은 필자 개인의 의견으로 한국콘텐츠진흥원의 공식 견해가 아닙니다.
          </p>
        </div>

        <!-- 발행 정보 -->
        <div class="footer-info">
          <div class="footer-info-group">
            <div>
              <p>발행인</p>
              <p>유현석(한국콘텐츠진흥원 원장직무대행)</p>
            </div>
            <div>
              <p>발행일</p>
              <p>2025년 12월 19일</p>
            </div>
            <div>
              <p>발행처</p>
              <div style="display: flex; gap:4px; flex-direction: column;">
                <p>한국콘텐츠진흥원 콘텐츠산업정책연구센터 산업정책팀</p>
                <p>전라남도 나주시 교육길 35</p>
                <p>T. 1566-1114 https://www.kocca.kr</p>
              </div>
            </div>
          </div>

          <div class="footer-info-group">
            <div>
              <p>기획·편집</p>
              <div style="display: flex; gap:4px; flex-direction: column;">
                <p>한국콘텐츠진흥원 콘텐츠산업정책연구센터 산업정책팀</p>
                <p>(주)컬쳐미디어랩</p>
              </div>
            </div>
            <div>
              <p>기획위원</p>
              <div style="display: flex; gap:4px; flex-direction: column;">
                <p>이성민(한국방송통신대학교 미디어영상학과 부교수)</p>
                <p>채정화(서강대학교 ICT법경제연구소 연구교수)</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-buttons">
        <a href="./download/2025_방송영상&OTT트렌드_Vol2_PDF_최종본.pdf" class="footer-button-outline"
            download="2025_방송영상&OTT트렌드_Vol2_PDF">2025 Vol.2 PDF 다운받기</a>
        <a href="https://www.kocca.kr/kocca/common/Mailling.do?menuNo=204918" target="_blank"
          class="footer-button-filled">구독 신청하기</a>
      </div>
    </div>


    <div class="footer-bottom">
      <p>© 2025 Korea Creative Content Agency. All rights reserved.</p>
      <img src="./img/assets/copyright.png" alt="공공누리 인증마크" />
    </div>
  </div>
</footer>