<!-- Header -->
<header class="header">
  <a href="./index.html" class="logo-wrap">
    <img src="./img/assets/logo-white.png" alt="로고" class="logo" />
  </a>

  <div class="nav-right">
    <div class="nav">
      <a href="#spotlight" class="nav-item">스포트라이트</a>
      <a href="#global" class="nav-item">글로벌 마켓 리포트</a>
      <a href="#people" class="nav-item">피플 인사이트</a>
      <a href="#trend" class="nav-item">트렌드 하이라이트</a>
      <a href="#data-point" class="nav-item">데이터 포인트</a>
    </div>

    <button id="menu-toggle" class="hamburger">
      <span></span><span></span><span></span>
    </button>
    <div class="vol-info">2025 Vol. 1</div>
  </div>

  <!-- Fullscreen Mobile Modal -->
  <div id="mobile-menu" class="mobile-menu">
    <div class="menu-header">
      <p class="menu-title">메뉴</p>
      <div class="menu-right">
        <div class="vol-info">2025 Vol. 1</div>
        <button id="menu-close">
          <img src="./img/assets/close.png" alt="닫기" class="close-btn" />
        </button>
      </div>
    </div>
    <div id="menu-content" class="menu-content"></div>
  </div>
</header>