<!-- Post Navigator -->
<div class="post-navigator">
  <!-- 이전 글 -->
  <!-- <div class="first-nav"></div> -->
  <a href="./spotlight_0.html" class="post-nav prev">
    <div class="post-nav-header">
      <img src="./img/assets/arrow.png" alt="화살표" class="arrow" />
      <p>이전 글</p>
    </div>
    <span class="post-nav-title">팬덤과 플랫폼이 만든 또 하나의 우주, 슈퍼 IP</span>
  </a>

  <!-- 다음 글 -->
  <!-- <div class="last-nav"></div> -->
  <a href="./spotlight_2.html" class="post-nav next">
    <div class="post-nav-header">
      <p>다음 글</p>
      <img src="./img/assets/arrow.png" alt="화살표" class="arrow rotate" />
    </div>
    <span class="post-nav-title">작지만 강한 스몰 IP의 힘</span>
  </a>
</div>