<!-- Reference List Section -->
<div class="reference-list">
  <!-- 제목 -->
  <div class="reference-title">참고문헌</div>

  <!-- 리스트 -->
  <ol class="reference-items">
    <li>강혜원(2024). 메타버스 기반 크리에이터의 다중플랫폼활용전략 - <마인크래프트>를 활용한 커뮤니티중심 스토리텔링 사례를 중심으로. <대중서사연구>, 30(3), p.89-122</li>
    <li>김해원·강혜원·백지연(2018). 크리에이터에게 이용자와 상호작용한다는 것은 무슨 의미인가. <방송과 커뮤니케이션>, 19(2), p.49-90</li>
    <li>김인애·강혜원. (2024. 12. 27). 2023년과 2024년의 OTT 이용행태 비교분석: 시성비와 가성비의 줄다리기. , (179). 한국콘텐츠진흥원.</li>
    <li>나스미디어(2024). <2024 인터넷이용자조사NPR>
    </li>
    <li>오혜라·정윤재(2024). 오리지널 콘텐츠 유튜브 채널은 브랜드화가 가능한가? <광고학연구>, 35(1), p.1-29</li>
    <li>한국콘텐츠진흥원(2024). <2024 온라인동영상서비스 이용행태 조사>
    </li>
  </ol>
</div>